.App {
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #bbbfc9;
}

.content {
  display: none;
  opacity: 0;
}

.out {
  display: none;
}

.in {
  display: block;
  opacity: 100%;
}
